form{
    border-radius: 5px;
    background-color: white;
    padding: 3%;
    margin: 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}
    form input{
        margin: 1% 0;
        width: 99%;
        font-size: 100%;
        padding: 1px 0;
    }
    form input[type=submit],input[type=reset]{
        width: 48%;
        background-color: lightgray;
    }
        form input[type=submit]:hover,input[type=reset]:hover{
            background: linear-gradient(135deg, rgba(156,156,156,1) 0%, rgba(0,212,255,0) 100%);
            background-color: white;
            box-shadow: 2px 2px gray;
            display: inline-block;
        }
        form input[type=submit]:active,input[type=reset]:active{
            background: linear-gradient(135deg, rgba(64, 64, 64,1) 0%, rgba(0,212,255,0) 100%);
            box-shadow: none;
        }
    form image{
        max-width: 300px;
    }
    form select{
        min-width: 50%;
        font-size: 100%;
        padding: 1px 1px;
    }
